body {
    padding: 0;
    margin: 0;
    background-color: rgb(228, 228, 224);
}

main {
    padding-top: 3em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    padding: 2px;
    background-color: #1e4a70;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.resource-link {
    padding: 10px 10px;
    /* color: #6696ed; 
    A fallback option for color. Slightly darker than the sky-blue option currently selected.
    */
    color: #82cbf5;
    text-decoration: none;
}

.resource-link:hover {
    text-decoration: underline;
    color: #b7e2f7;
}

.info-img {
    height: 50px;
    width: 50px;
}

.headshot-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
}

/*
#headshot {
    height: 100%;
    width: auto;
    margin: 0 auto;
}
*/